################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/examples/.vs
/examples/PKI
/examples/memory_leak_report.txt
/docs
/examples/x64
